 {% extends 'base.html' %}

 {% block content %}
  
  <style>

    .navbar-custom {
      background: linear-gradient(to right, rgb(34, 164, 182), rgb(9, 107, 255))
    }

    .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      padding: 14px 80px 18px 36px;
      cursor: pointer;
    }

    .card:hover{
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    body {
            overflow-x: hidden;
        }
  </style>


<nav class="navbar navbar-dark bg-dark">
  <div class="navbar fixed-top navbar-custom color-custom shadow-lg p-3 mb-5 ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2>TodoApp</h2></a>
      <h2 class="px-2" style="text-align: center;">
        <button class="btn btn-warning px-4">
          <a href="{% url 'todolist:create_task' %}"> Create Task</a>
        </button>
              <button class="btn btn-danger px-4">
          <a href="{% url 'todolist:logout' %}"> Logout</a>
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add task
        </button>
      </h2></div>
    </div>
</nav>
  

  <div class="gradient-custom">
    <br><br><br>
    {% if list %}
    <div class="container mx-auto mt-4">
      <div class="row" id="cardcontainer">
    
      <div class="row row-cols-4 g-5 py-5 px-5 row d-flex justify-content-center" id="cardcontainer">
      {% comment %} Add the data below this line {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
    <h4>Hi, lets create a new Task!</h4>
    {% endif %}
  
    <h5></h5>
  
  
    <h5 style = "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 32px; color: blue; text-align: center;">{{status}}</h5>
  
    

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form">
              {% csrf_token %}
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="field_title" name="title">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="field_desc" name="description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="addtaskbutton" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function()  {
      refreshTodolist();
    });
    
    async function getTodolist() {
      return fetch("{% url 'todolist:get_todolist_json' %}").then((res) => res.json())
    }
  
    async function refreshTodolist() {
          document.getElementById("cardcontainer").innerHTML = ""
          const todolist = await getTodolist()
          let htmlString = ``
          todolist.forEach((item) => {
            htmlString += `<div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://drive.google.com/uc?export=view&id=1wLu2tSD-Ap9wV8XE0cW2_5sv8YeNd1sI" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">${item.fields.title}</h5>
            <h6 class="card-subtitle mb-2 text-muted">${item.fields.date}</h6>
            <p class="card-text">${item.fields.description}</p>
            <p class="card-text"></p> 
            {% if task.is_finished %}
            <p class="card-text">Finished</p>
            {% else %}
            <p class="card-text">Not Finished</p>
            {% endif %}
            
            <button class="bg-green-500 rounded-2xl p-2 text-black font-bold delete" onclick="deleteTask(${item.pk})">Delete</button>
            
          </div>
        </div>
      </div>` 
          })
          
          document.getElementById("cardcontainer").innerHTML = htmlString
    }
  
    function addTodolist() {
      fetch("{% url 'todolist:create_task_json' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshTodolist)
      return false
    }

    function deleteTask(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/delete/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        }).done((data) => {
            refreshTodolist();
        })
    }
  
    document.getElementById("addtaskbutton").onclick = addTodolist
    
    refreshTodolist()
  </script>
  
   {% endblock content %}
  </div>

