{% extends 'base.html' %}

 {% block content %}

  <h1 style="font-size:44px;font-weight:bold;color:white">Tugas 3 PBP/PBD</h1>
  <h5 style="font-size:20px;font-weight:bold;color:white">Name: <span style="font-weight:normal;">Jeremy Mervin</span></h5>
  <h5 style="font-size:20px;font-weight:bold;color:white">Student ID: <span style="font-weight:normal;">2106654675</span></h5>

  <table class="table-catalog" style="cursor:pointer;">
    <tr class="table-catalog-header">
      <th>Title</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}

	{% for movies in list %}
	<tr class="table-catalog-data">
        <td>{{movies.title}}</td>
        <td>{{movies.release_date}}</td>
        <td>{{movies.rating}}</td>
        <td>{{movies.review}}</td>
		{% if movies.watched %}
			<td>watched</td>
		{% else %}
			<td>not watched</td>
		{% endif %}
    </tr>
	{% endfor %}
  </table>
  
  <h4 style = "font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 32px; color: blue; text-align: center;">{{status}}</h5>

 {% endblock content %}